<html>

<head>

</head>

<body style="background-color:rgb(0, 84, 95);">
    <form action="/result" method="POST">
        <p>a <input type="text" name="a_field" /></p>
        <p>b <input type="text" name="b_field" /></p>
        <p>c <input type="text" name="c_field" /></p>
        <p>d <input type="text" name="d_field" /></p>
        <p>e <input type="text" name="e_field" /></p>
        <p>f <input type="text" name="f_field" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

</body>

</html>